<mat-spinner *ngIf="loading"  ></mat-spinner>
<div *ngIf="error">
    Error Retrieving Data: {{error}}
</div>
<mat-form-field appearance="standard" *ngIf="launchesBackend.length">
    <mat-label>Search through launches by name</mat-label>
    <input matInput placeholder="Dogecoin - 23" [formControl]="myControl">
</mat-form-field>
<mat-accordion *ngIf="launchesBackend.length">
    <mat-expansion-panel *ngFor="let launch of launchesDisplay">
        <mat-expansion-panel-header>
        <mat-panel-title>
            {{launch.mission_name}} 
        </mat-panel-title>
        <mat-panel-description fxShow fxHide.lt-md>
            {{launch.launch_site.site_name_long}} 
        </mat-panel-description>
        </mat-expansion-panel-header>
        <p matLine fxShow fxHide.gt-sm> {{launch.launch_site.site_name_long}}  </p>
        <p matLine> {{launch.launch_date_local}} </p>
        <p matLine> {{launch.launch_success}} </p>
    </mat-expansion-panel>
</mat-accordion>
