.app-div
    height: calc(100% - 65px)

.active 
    border-bottom: 2px solid gray
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0

.menu-spacer
    width:10px

.menu-vertical-line
    width:1px
    border: 1px solid gray

.header
    overflow: hidden
    word-wrap: break-word
    white-space: normal
    font-size: 20px

.hamburger
    margin-left: auto

.home-icon
    vertical-align: middle
    transform: scale(1.3)
    margin-bottom: 5px
    
mat-sidenav
    width: 40vw

.btmFooter 
    align-self: flex-end

footer 
    text-align: center

.launch-icon
    transform: scale(0.5)
    margin-bottom: 5