mat-selection-list
    height: 100%

mat-panel-title
    width: 150px

mat-panel-description
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    width: 50%

.missions-container
    margin-top: 15px

mat-table
    overflow-x: auto
    width: 100%

.mat-cell,
.mat-header-cell 
    word-wrap: initial
    display: table-cell
    padding: 0px 10px
    line-break: unset
    width: 100%
    white-space: nowrap
    overflow: hidden
    vertical-align: middle


.mat-row,
.mat-header-row 
    display: table-row
