html, body 
    height: 100%
body 
    margin: 0
    font-family: Roboto, "Helvetica Neue", sans-serif

.mat-expansion-panel-header-description 
  display: flex
  justify-content: flex-end
  margin-right: 50px
