html, body 
    height: 100%

body 
    margin: 0
    font-family: Roboto, "Helvetica Neue", sans-serif

.mat-expansion-panel-header-description 
    display: flex
    justify-content: flex-end
    margin-right: 50px

mat-spinner
    margin:0 auto
    margin-top:20px

mat-sidenav-container
    height: calc(100% - 65px)