<footer class="btmFooter">
    <mat-toolbar> 
      <div>
        <span class="menu-spacer"></span>
        <a mat-button rel="noopener" href="https://play.plasma.games/" target="_blank"> Plasma Games<mat-icon class="launch-icon">launch</mat-icon></a>
        <span class="menu-spacer"></span>
        <span class="menu-vertical-line"></span>
        <a mat-button rel="noopener"  href="https://www.spacex.com/" target="_blank"> SpaceX<mat-icon class="launch-icon">launch</mat-icon></a>
        <span class="menu-spacer"></span>
        <span class="menu-vertical-line"></span>
        <a mat-button rel="noopener"  href="https://www.linkedin.com/in/winslowmohr/" target="_blank"> About Me<mat-icon class="launch-icon">launch</mat-icon></a>
      </div>  
    </mat-toolbar>
  </footer>